.user-info {
	display: flex;
		justify-content: space-around;
		align-items: center;

	img {
		border-radius: 50%;
		width: 30px;
			height: 30px;
		margin: 0 8px 0 12px;
	}

	span {
		font-size: 14px;
			font-weight: 500;
		color: #29292e;
	}
}